---

name: CI
on: push

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.4.4"
          enable-cache: true
      - run: |
          uv sync
          ls -la
          uv run hello-world.py
          echo "The code is okay"
  lint:
    name: Lint Code
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.4.4"
          enable-cache: true
      - run: |
          uv sync
          uv run flake8 . --exclude=.git,.venv --show-source --statistics
